@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: "Red Rose", cursive;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

@media screen and (max-width: 600px) {
  .footer {
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }
  .footer-logo-and-icon {
    align-self: center;
    text-align: center;
  }
  .footer-icon {
    margin: auto;
  }
  .footer-text {
    text-align: center;
  }
  .filter-container {
    display: flex;
    flex-direction: column;
  }
}

@media screen and (max-width: 950px) {
  .filter-heading {
    font-size: 12px;
  }
  .card {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media screen and (max-width: 450px) {
  .card {
    display: flex;
    flex-direction: column;
  }
}
